<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || 'Tyler Willingham - Web Application Engineer' %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="header">
      <div class="header-left">
        <h2>TWILLING.IO</h2>
      </div>

      <div class="header-right">
        <ul class="primary-nav">
          <li class="primary-nav-item">
            <%= link_to 'BLOG', '/', class: 'active' %>
          </li>
          <li class="primary-nav-item">
            <a href="https://github.com/tylerwillingham/resume" target="_blank">RESUME</a>
          </li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>

    <%= yield %>
  </body>
</html>
