---
title: Tyler Willingham - Web Application Engineer
pageable: true
per_page: 10
---

<div class="header">
  <div class="header-left">
    <h2>TWILLING.IO</h2>
  </div>

  <div class="header-right">
    <ul class="primary-nav">
      <li class="primary-nav-item">
        <a href="" class="active">BLOG</a>
      </li>
      <li class="primary-nav-item">
        <a href="">RESUME</a>
      </li>
    </ul>
  </div>

  <div class="clear"></div>
</div>

<div class="articles-container">
  <% page_articles.each do |article| %>
  <article>
    <div class="article-header">
      <h3 class="heading-1">
        <%= link_to article.title, article %>
      </h3>
    </div>

    <div class="article-meta">
      Posted on <%= article.date.strftime('%B %e, %Y') %>
    </div>

    <div class="article-body">
      <%= article.body %>
    </div>
  </article>
  <% end %>

  <% if paginate %>
    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>

    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>
